<div class="dropdown text-right">
    <button class="tl-drop text-drop" type="button" data-toggle="dropdown">Menu {{text}}
        <span class="fa fa-chevron-down text-primary"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">All {{text}}</a></li>
        <li><a href="#">Pending {{text}}</a></li>
        <li><a href="#">Paid {{text}}</a></li>
        <li><a href="#">Overdue {{text}}</a></li>
    </ul>
</div>